@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{
    IEnumerable<RelatedLink> servicesLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("servicesLink", true);
    RelatedLink servicesLink = null;
    if (servicesLinks != null && servicesLinks.Count() > 0)
    {
        servicesLink = servicesLinks.FirstOrDefault();
    }

    IEnumerable<RelatedLink> servicesIcons = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("servicesIcons", true);
}

<section class="wrapper style2 special">
    <div class="inner">
        <header>
            <h2>@Umbraco.Field("servicesTitle", recursive: true)</h2>
            <p>@Umbraco.Field("servicesIntro", recursive: true)</p>
        </header>

        @if (servicesIcons != null && servicesIcons.Count() > 0)
        {
            <ul class="icons major style2">
                @foreach (RelatedLink link in servicesIcons)
                {
                    <li><span class="icon solid fa-@link.Caption"><span class="label">@link.Caption</span></span></li>
                }
            </ul>
        }

        <p>@Umbraco.Field("servicesDescription", recursive: true)</p>

        @if (servicesLink != null && !string.IsNullOrEmpty(servicesLink.Link))
        {
            <footer>
                <ul class="actions special">
                    <li><a href="@servicesLink.Link" target="@(servicesLink.NewWindow ? "_blank" : null)" class="button">@servicesLink.Caption</a></li>
                </ul>
            </footer>
        }
    </div>
</section>