@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{
    IEnumerable<RelatedLink> servicesLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("servicesLink", true);
    RelatedLink servicesLink = null;
    if (servicesLinks != null && servicesLinks.Count() > 0)
    {
        servicesLink = servicesLinks.FirstOrDefault();
    }
}

<section class="wrapper style2 special">
    <div class="inner">
        <header>
            <h2>@Umbraco.Field("servicesTitle", recursive: true)</h2>
            <p>@Umbraco.Field("servicesIntro", recursive: true)</p>
        </header>
        <ul class="icons major style2">
            <li><span class="icon solid fa-code"><span class="label">Lorem</span></span></li>
            <li>
                <span class="icon solid fa-cog"><span class="label">Ipsum</span></span>
            </li>
            <li>
                <span class="icon solid fa-gem"><span class="label">Dolor</span></span>
            </li>
            <li>
                <span class="icon solid fa-camera-retro"><span class="label">Feugiat</span></span>
            </li>
            <li>
                <span class="icon solid fa-briefcase"><span class="label">Tempus</span></span>
            </li>
        </ul>
        <p>@Umbraco.Field("servicesDescription", recursive: true)</p>

        @if (servicesLink != null && !string.IsNullOrEmpty(servicesLink.Link))
        {
        <footer>
            <ul class="actions special">
                <li><a href="@servicesLink.Link" target="@(servicesLink.NewWindow ? "_blank" : null)" class="button">@servicesLink.Caption</a></li>
            </ul>
        </footer>

        }
    </div>
</section>