@inherits UmbracoViewPage<List<NewsPreviewModel>>
@using UmbracoAmbience.Web.Models

<section class="wrapper style1 special">
    <div class="inner">
        <header>
            @*<h2>News</h2>*@
        </header>
        @foreach (NewsPreviewModel article in Model)
        {
            @RenderNewsList(article);
        }
        <footer>
            <ul class="actions special">
                <li><a href="/news/" class="button">View all news</a></li>
            </ul>
        </footer>
    </div>
</section>


@helper RenderNewsList(NewsPreviewModel item)
{
    <section class="spotlight">
        <span class="image"><img src="@item.ImageUrl" alt="" /></span>
        <div class="content">
            <header>
                <h3>@item.Title</h3>
            </header>
            <p>@item.Intro</p>
            <footer>
                <ul class="actions">
                    <li><a href="@item.LinkUrl" class="button">Details</a></li>
                </ul>
            </footer>
        </div>
    </section>
}