@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{
    IPublishedContent homePage = Umbraco.AssignedContentItem.AncestorOrSelf("home");
    IEnumerable<IPublishedContent> navigationPages = homePage.Children(x => x.IsVisible());

}

<header id="header">
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>
<nav id="menu">
    <h2>Menu</h2>
    <ul class="links">
        <li><a href="/">Home</a></li>
        @if (navigationPages != null && navigationPages.Count() > 0)
        {
            foreach (IPublishedContent page in navigationPages)
            {
                if (page.DocumentTypeAlias == "prettyLink")
                {
                    RelatedLinks relatedLinks = page.GetPropertyValue<RelatedLinks>("linkTarget");
                    RelatedLink prettyLink = relatedLinks.FirstOrDefault();
                    {
                        if (prettyLink != null)
                        {
                            if(@prettyLink.NewWindow)
                            {
                                <li><a href="#" onclick='window.open("@prettyLink.Link");return false;'>@prettyLink.Caption</a></li> 
                            }
                            else
                            {
                                <li><a href="@prettyLink.Link">@prettyLink.Caption</a></li>
                            }
                        }
                    }
                }
                else
                {
                    <li><a href="@page.Url"> @page.Name </a></li>
                }
            }
        }
    </ul>
    <ul class="actions stacked">
        <li><a href="#footer" class="button fit primary">Contact</a></li>
        @*<li><a href="#" class="button fit">Log In</a></li>*@
    </ul>
</nav>