@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";

    string articleImageUrl = "";

    if (Model.Content.HasValue("articleImage"))
    {
        articleImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("articleImage").Url;
    }
}

<section id="main" class="wrapper style1">
    <div class="inner">
        <header class="major">
            <h1>@Umbraco.Field("pageTitle", altFieldAlias: "pageName")</h1>
            <p>@Umbraco.Field("subtitle")</p>
            @Umbraco.Field("articleIntro")
        </header>
        <span class="image main"><img src="@articleImageUrl" alt="" /></span>
        <p><strong>@Umbraco.Field("articleDate", formatAsDate: true)</strong></p>
    </div>
</section>


